@font-face {
  font-family: 'roboto-r';
  src: url("../fonts/roboto/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto-m';
  src: url("../fonts/roboto/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto-l';
  src: url("../fonts/roboto/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto-b';
  src: url("../fonts/roboto/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }