/* 
    Created on : 18 Jul, 2019, 3:42:31 PM
    Author     : bharat
*/
body{color: #4B4B4B; background: #F5F5F5; padding: 0; margin: 0;}
*{font-family: 'roboto-r'; list-style: none; text-decoration: none; box-sizing: border-box;}
.hidden{display: none !important;}
p{margin: 0;}
ul{margin: 0; padding: 0;}
img{max-height: 100%; max-width: 100%;}
header{float: left; width: 100%; padding: 16px 16px 3px 16px;}
.header-text{font-size: 20px; font-weight: bold;}
.header-icon{width: 22px; line-height: 0; margin-right: 17px;}
.header-icon, .header-text{display: inline-block; vertical-align: middle;}
.page-content{float: left; width: 100%; height: calc(100% - 120px);}
.travel-details{float: left; width: 100%; font-size: 15px; display: table; line-height: normal; padding: 16px;}
.travel-details-left{display: table-cell;}
.travel-details-left p{margin-bottom: 7px;}
.travel-details-right{display: table-cell;}

.places{ font-weight: bold;}
.date{}
.seat-duration{color: #2c2c2c;}
.travel-name{}
.seat-type{font-size: 10px;}
.price{font-weight: bold;}


.payment-options{float: left; width: 100%;}
.payment-option-heading{background: #fff; padding: 10px 16px;float: left; width: 100%;}
.payment-option-heading h3{color: #707070; font-size: 15px; text-transform: uppercase; margin: 0;}

.payment-option-list {
    float: left;
    width: 100%;
    padding: 16px;
    /*height: calc(100vh - 320px);*/
    /*min-height: 250px;*/
    /*overflow: auto;*/
    padding-bottom: 78px;
}
.payment-option-list-item{float: left; width: 100%; box-shadow: 0 8px 15px 0 #E7EAF0; background: #fff; border-radius: 10px; padding: 8px 13px; margin-bottom: 12px; border: 1px solid #fff;}
.card-heading{float: left; width: 100%; margin-bottom: 2px;}
.card-heading-icon {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 16px;
}
.card-heading h5{margin: 1px 0 0 0; display: inline-block; vertical-align: middle; color: #707070;}
.card-content{float: left; width: 100%; display: none; margin-top: 16px;}

.input-box{float: left; width: 100%; margin-bottom: 10px;}

.input-box label{float: left; width: 100%; font-weight: normal; color: #747474; font-size: 12px; margin-bottom: 5px;}
.input-box input{float: left; width: 100%; border: 1px solid #EAEAEA; border-radius: 4px; height: 32px; padding: 0 5px; outline: none;}


footer{float: left; width: 100%; position: fixed; bottom: 0; padding: 16px; background: #F5F5F5;}
.button-container{float: left; width: 100%; text-align: center;background: #f5f5f5;}
.button-primary {
    /*background-image: url(../images/bg_btn_find_bus.png);*/
    background-color: #1473E6;
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    padding: 0;
    width: 100%;
    height: 12.8vw;
    border-radius: 12vw;
    /*background-position: center center;*/
    color: #fff;
    border: none;
    box-shadow: none;
    /*max-width: 328px;*/
    font-size: 3.34vw;
    outline: none !important;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(20,115,230,0.4);
    /*cursor: pointer;*/
}
.button-icon {
    width: auto;
    height: calc(100% - 4.46vw);
    display: inline-block;
    position: absolute;
    right: 2.23vw;
    top: 2.23vw;
}
.button-icon img{height: 100%;}
.payment-option-list-item.active{border: 1px solid #1473E6;}
.active-image{display: none;}
.payment-option-list-item.active .active-image{display: block;}
.inactive-image{display: block;}
.payment-option-list-item.active .inactive-image{display: none;}

.exp-date{width:105px; float: left; margin-right: 8px;}
.cvv{width:105px;}

